.b {
    background-image:url(../img/21.jpg);
	background-repeat:no-repeat;
	
	    
}
.c {
	background-image:url(../img/22.jpg);
	background-repeat:no-repeat;
	
	    
}
.d {
    background-image:url(../img/23.jpg);
	background-repeat:no-repeat;
	
	    
}
