{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href = "{% static 'css/t20rankings.css' %}" rel = "stylesheet" type="text/css"/>
</head>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ARH Cricket</title>

<style type="text/css">
.timesnewroman {
	font-family: Georgia, Times New Roman, Times, serif;
}
</style>
</head>

<body>
<h1 class="toname">ALL-ROUNDER RANKINGS</h1>
<h2>T20 RANKINGS</h2>
<div class="b">
<table width="1010" height="537" border="1">
	
  <tr>
    <td width="112"><h3><strong><font color="white">RANK</font></strong></h3></td>
    <td width="177"><h3><strong><font color="white">PLAYER</font></strong></h3></td>
    <td width="173"><h3><strong><font color="white">RATINGS</font></strong></h3></td>
  </tr>
  <tr>
    <td><strong><font color="white">1</font></strong></td>
    <td><strong><font color="white">Glenn Maxwell(AUS)</font></strong></td>
    <td><strong><font color="white">389</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">2</font></strong></td>
    <td><strong><font color="white">Muhammad Nabi(AFG)</font></strong></td>
    <td><strong><font color="white">292</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">3</font></strong></td>
    <td><strong><font color="white">Shakib ul Hasan(BAN)</font></strong></td>
    <td><strong><font color="white">287</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">4</font></strong></td>
    <td><strong><font color="white">JP Duminy(SA)</font></strong></td>
    <td><strong><font color="white">235</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">5</font></strong></td>
    <td><strong><font color="white">Marlon Samuels(WI)</font></strong></td>
    <td><strong><font color="white">228</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">6</font></strong></td>
    <td><strong><font color="white">Thisara Perera(SL)</font></strong></td>
    <td><strong><font color="white">210</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">7</font></strong></td>
    <td><strong><font color="white">Mahmudullah(BAN)</font></strong></td>
    <td><strong><font color="white">209</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">8</font></strong></td>
    <td><strong><font color="white">Paul Stirling(IRE)</font></strong></td>
    <td><strong><font color="white">193</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">9</font></strong></td>
    <td><strong><font color="white">Shoaib Malik(PAK)</font></strong></td>
    <td><strong><font color="white">185</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">10</font></strong></td>
    <td><strong><font color="white">Kevin O'Brien(IRE)</font></strong></td>
    <td><strong><font color="white">175</font></strong></td>
  </tr>
  
</table>
</div>

<h2></h2>
<h2> ODI RANKINGS</h2>
<div class="c">
<table width="1010" height="537" border="1">

  <tr>
    <td><h3><strong><font color="white">RANK</font></strong></h3></td>
    <td><h3><strong><font color="white">PLAYER</font></strong></h3></td>
    <td><h3><strong><font color="white">RATINGS</font></strong></h3></td>
  </tr>
    <td><strong><font color="white">1</font></strong></td>
    <td><strong><font color="white">Shakib ul Hasan(BAN)</font></strong></td>
    <td><strong><font color="white">359</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">2</font></strong></td>
    <td><strong><font color="white">Muhammad Hafeez(PAK)</font></strong></td>
    <td><strong><font color="white">339</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">3</font></strong></td>
    <td><strong><font color="white">Muhammad Nabi(AFG)</font></strong></td>
    <td><strong><font color="white">323</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">4</font></strong></td>
    <td><strong><font color="white">Mitchell Santner(NZL)</font></strong></td>
    <td><strong><font color="white">317</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">5</font></strong></td>
    <td><strong><font color="white">Chris Woakes(ENG)</font></strong></td>
    <td><strong><font color="white">312</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">6</font></strong></td>
    <td><strong><font color="white">Angelo Mathews(SL)</font></strong></td>
    <td><strong><font color="white">306</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">7</font></strong></td>
    <td><strong><font color="white">Rashid Khan(AFG)</font></strong></td>
    <td><strong><font color="white">298</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">8</font></strong></td>
    <td><strong><font color="white">Jason Holder(WI)</font></strong></td>
    <td><strong><font color="white">295</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">9</font></strong></td>
    <td><strong><font color="white">Moeen Ali(ENG)</font></strong></td>
    <td><strong><font color="white">293</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">10</font></strong></td>
    <td><strong><font color="white">Ben Stokes(ENG)</font></strong></td>
    <td><strong><font color="white">282</font></strong></td>
  </tr>
  
</table>
</div>
<h2></h2>
<h2> TEST RANKINGS</h2>
<div class="d">
<table width="1010" height="537" border="1">
  <tr>
    <td><h3><strong><font color="white">RANK</font></strong></h3></td>
    <td><h3><strong><font color="white">PLAYER</font></strong></h3></td>
    <td><h3><strong><font color="white">RATINGS</font></strong></h3></td>
  </tr>
  <tr>
    <td><strong><font color="white">1</font></strong></td>
    <td><strong><font color="white">Shakib ul Hasan(BAN)</font></strong></td>
    <td><strong><font color="white">420</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">2</font></strong></td>
    <td><strong><font color="white">Vernon Philander(SA)</font></strong></td>
    <td><strong><font color="white">390</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">3</font></strong></td>
    <td><strong><font color="white">Ravindra Jadeja(IND)</font></strong></td>
    <td><strong><font color="white">371</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">4</font></strong></td>
    <td><strong><font color="white">Ravichandran Ashwin(IND)</font></strong></td>
    <td><strong><font color="white">367</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">5</font></strong></td>
    <td><strong><font color="white">Ben Stokes(ENG)</font></strong></td>
    <td><strong><font color="white">328</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">6</font></strong></td>
    <td><strong><font color="white">Moeen Ali(ENG)</font></strong></td>
    <td><strong><font color="white">274</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">7</font></strong></td>
    <td><strong><font color="white">Pat Cummins(AUS)</font></strong></td>
    <td><strong><font color="white">248</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">8</font></strong></td>
    <td><strong><font color="white">Mitchell Starc(AUS)</font></strong></td>
    <td><strong><font color="white">247</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">9</font></strong></td>
    <td><strong><font color="white">Kagiso Rabada(SA)</font></strong></td>
    <td><strong><font color="white">217</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">10</font></strong></td>
    <td><strong><font color="white">Jason Holder(WI)</font></strong></td>
    <td><strong><font color="white">208</font></strong></td>
  </tr>
  
</table>
</div>
</body>
</html>
