{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ARH Cricket</title>

<link href = "{% static 'css/t20rankings.css' %}" rel = "stylesheet" type="text/css"/>
</head>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
.timesnewroman {
	font-family: Georgia, Times New Roman, Times, serif;
}
</style>
</head>

<body>
<h1 class="toname">BATSMAN RANKINGS</h1>
<h2>T20 RANKINGS</h2>
<div class="b">
<table width="1010" height="537" border="1">
	
  <tr>
    <td width="112"><h3><strong><font color="white">RANK</font></strong></h3></td>
    <td width="177"><h3><strong><font color="white">PLAYER</font></strong></h3></td>
    <td width="173"><h3><strong><font color="white">RATINGS</font></strong></h3></td>
  </tr>
  <tr>
    <td><strong><font color="white">1</font></strong></td>
    <td><strong><font color="white">Babar Azam(PAK)</font></strong></td>
    <td><strong><font color="white">881</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">2</font></strong></td>
    <td><strong><font color="white">Colin Munro(NZL)</font></strong></td>
    <td><strong><font color="white">801</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">3</font></strong></td>
    <td><strong><font color="white">Glenn Maxwell(AUS)</font></strong></td>
    <td><strong><font color="white">799</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">4</font></strong></td>
    <td><strong><font color="white">Aaron Finch(AUS)</font></strong></td>
    <td><strong><font color="white">763</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">5</font></strong></td>
    <td><strong><font color="white">Martin Guptill(NZL)</font></strong></td>
    <td><strong><font color="white">747</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">6</font></strong></td>
    <td><strong><font color="white">Evin Lewis(WI)</font></strong></td>
    <td><strong><font color="white">691</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">7</font></strong></td>
    <td><strong><font color="white">Alex Hales(ENG)</font></strong></td>
    <td><strong><font color="white">679</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">8</font></strong></td>
    <td><strong><font color="white">Virat Kohli(IND)</font></strong></td>
    <td><strong><font color="white">670</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">9</font></strong></td>
    <td><strong><font color="white">Mohammad Shahzad(AFG)</font></strong></td>
    <td><strong><font color="white">653</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">10</font></strong></td>
    <td><strong><font color="white">Hamilton Masakadza(ZIM)</font></strong></td>
    <td><strong><font color="white">648</font></strong></td>
  </tr>
  
</table>
</div>

<h2></h2>
<h2> ODI RANKINGS</h2>
<div class="c">
<table width="1010" height="537" border="1">

  <tr>
    <td><h3><strong><font color="white">RANK</font></strong></h3></td>
    <td><h3><strong><font color="white">PLAYER</font></strong></h3></td>
    <td><h3><strong><font color="white">RATINGS</font></strong></h3></td>
  </tr>
    <td><strong><font color="white">1</font></strong></td>
    <td><strong><font color="white">Virat Kohli(IND)</font></strong></td>
    <td><strong><font color="white">909</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">2</font></strong></td>
    <td><strong><font color="white">AB de Villiers(SA)</font></strong></td>
    <td><strong><font color="white">844</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">3</font></strong></td>
    <td><strong><font color="white">David Warner(AUS)</font></strong></td>
    <td><strong><font color="white">823</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">4</font></strong></td>
    <td><strong><font color="white">Joe Root(ENG)</font></strong></td>
    <td><strong><font color="white">814</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">5</font></strong></td>
    <td><strong><font color="white">Babar Azam(PAK)</font></strong></td>
    <td><strong><font color="white">813</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">6</font></strong></td>
    <td><strong><font color="white">Rohit Sharma(IND)</font></strong></td>
    <td><strong><font color="white">799</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">7</font></strong></td>
    <td><strong><font color="white">            Ross Taylor</font></strong></td>
            <td><strong><font color="white">785</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">8</font></strong></td>
    <td><strong><font color="white">Quinton de Kock</font></strong></td>
    <td><strong><font color="white">783</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">9</font></strong></td>
    <td><strong><font color="white">Faf du Plessis</font></strong></td>
    <td><strong><font color="white">782</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">10</font></strong></td>
    <td><strong><font color="white">Kane Williamson(NZL)</font></strong></td>
    <td><strong><font color="white">778</font></strong></td>
  </tr>
  
</table>
</div>
<h2></h2>
<h2>TEST RANKINGS</h2>
<div class="d">
<table width="1010" height="537" border="1">
  <tr>
    <td><h3><strong><font color="white">RANK</font></strong></h3></td>
    <td><h3><strong><font color="white">PLAYER</font></strong></h3></td>
    <td><h3><strong><font color="white">RATINGS</font></strong></h3></td>
  </tr>
  <tr>
    <td><strong><font color="white">1</font></strong></td>
    <td><strong><font color="white">Steven Smith(AUS)</font></strong></td>
    <td><strong><font color="white">929</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">2</font></strong></td>
    <td><strong><font color="white">Virat Kohli(IND)</font></strong></td>
    <td><strong><font color="white">912</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">3</font></strong></td>
    <td><strong><font color="white">Joe Root(ENG)</font></strong></td>
    <td><strong><font color="white">867</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">4</font></strong></td>
    <td><strong><font color="white">Kane Williamson(NZL)</font></strong></td>
    <td><strong><font color="white">847</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">5</font></strong></td>
    <td><strong><font color="white">David Warner(AUS)</font></strong></td>
    <td><strong><font color="white">820</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">6</font></strong></td>
    <td><strong><font color="white">AB de Villiers(SA)</font></strong></td>
    <td><strong><font color="white">810</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">7</font></strong></td>
    <td><strong><font color="white">Chateshwar Pujara(IND)</font></strong></td>
    <td><strong><font color="white">810</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">8</font></strong></td>
    <td><strong><font color="white">Dean Elgar(SA)</font></strong></td>
    <td><strong><font color="white">784</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">9</font></strong></td>
    <td><strong><font color="white">Aiden Markram(SA)</font></strong></td>
    <td><strong><font color="white">759</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">10</font></strong></td>
    <td><strong><font color="white">Azhar Ali(PAK)</font></strong></td>
    <td><strong><font color="white">755</font></strong></td>
  </tr>
  
</table>
</div>
</body>
</html>
