{% load staticfiles %}
<html>
<link href = "{% static 'css/style.css' %}" rel = "stylesheet" type="text/css"/>
<head>

<title>ARH Cricket</title>

</head>
<body>

<div class="topnav">
  <a href="/"><img src="static/img/logo.jpg"/></a>
  <a href="/fixtures">Fixtures</a>
  <a href="/ranking">Ranking</a>
  <a class="active" href="/contact">Contact</a>
  <a href="/historyoficc">History of ICC</a>
</div>
<article class="article article--basic ">
    <header class="article__header">
        <h3 class="article__title">Contact Us</h3>
        
    </header>
    <div class="article__summary"></div>
  <div class="article__content">
	<table width="500" height="217">
<tbody>
<tr style="height: 13px;">
<td width="192" height="35" style="height: 13px;">Postal Address</td>
<td width="296" style="height: 13px;">Main University Road, Karachi 75300, Pakistan</td>
</tr>
<tr style="height: 13px;">
<td style="height: 13px;">Telephone</td>
<td style="height: 13px;">0900-78601</td>
</tr>
<tr style="height: 13px;">
<td style="height: 13px;">Fax</td>
<td style="height: 13px;">0900-78601</td>
</tr>
<tr style="height: 13px;">
<td style="height: 13px;">General Enquiry Email</td>
<td style="height: 13px;">enquiry@arh-cricket.com</td>
</tr>
<tr style="height: 13px;">
<td style="height: 13px;">Website</td>
<td style="height: 13px;">www.arh-cricket.com</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
  </div>
</article>
</body>
</html>
