{% load staticfiles %}
<html>
<title>ARH Cricket</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href = "{% static 'css/style2.css' %}" rel = "stylesheet" type="text/css"/>
<body>

<h2 class="w3-center">Gallery of Champions</h2>

<div class="w3-content w3-display-container">
  <img src="static/img/11.jpg" width="1024" height="768" class="mySlides" style="width:100%"><img src="static/img/13.jpg" width="1024" height="768" class="mySlides" style="width:100%"><img src="static/img/12.jpg" width="1024" height="768" class="mySlides" style="width:100%">
  <img src="static/img/10.jpg" width="1024" height="768" class="mySlides" style="width:100%">
  <img src="static/img/14.jpg" width="1024" height="768" class="mySlides" style="width:100%">
  <img src="static/img/9.jpg" width="1024" height="768" class="mySlides" style="width:100%">
  <img src="static/img/15.jpg" width="1024" height="768" class="mySlides" style="width:100%">
  
  <button class="w3-button w3-black w3-display-left" onClick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onClick="plusDivs(1)">&#10095;</button>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>

</body>
</html>
