
<main id="main-content" tabindex="0">
	


	<div class="hero-promo">
	  <picture class="hero-promo__bg">
	        <img src="4.jpg" alt="International Cricket Council" width="1245" height="610">
		</picture>
		<div class="hero-promo__heading">
			<h2 class="hero-promo__title">
				International Cricket Council
			</h2>
		</div>
	</div>


<div class="wrapper">
	<div class="col-12">
		


<article class="article article--basic article--no-header">
    <header class="article__header">
        <h3 class="article__title">Introduction</h3>
        
    </header>
    <div class="article__summary"></div>
	<div class="article__content">
		<p>The ICC is the global governing body for cricket. Representing 105 members, the ICC governs and administrates the game and works with our members to grow the sport. The ICC is also responsible for the staging of all ICC Events.</p>
<p>The ICC presides over the ICC Code of Conduct, playing conditions, the Decision Review System and other ICC regulations. The ICC also appoints all match officials that officiate at all sanctioned international matches. Through the Anti-Corruption Unit it coordinates action against corruption and match fixing.</p>
	</div>
</article>



<div class="promo promo--full ">
	<div class="promo__image-container">

			<picture class="promo__image">
	        
	            <div class="promo__text-container ">
	              <h3 class="promo__title">The ICC</h3>
	              <div class="promo__text">Learn more about the Vision, Values, Strategy and Structure of the International Cricket Council, whilst you can discover more about the History of the ICC and the Cricket for Good programme.</div>
	              <p><form action="/action_page.php" method="get">
<button type="submit" formaction="vision.html">OUR VISION</button>
</form></p>
<p>&nbsp;</p>
	            </div>
	            <img src="6.jpg" alt="The ICC" width="1010" height="588">
			</picture>

	</div>
</div>



<div class="promo promo--full ">
	<div class="promo__image-container">

		  <picture class="promo__image"></picture>

	</div>
	<div class="promo__text-container ">
		<h3 class="promo__title">Our Members</h3>
		<div class="promo__text">The ICC has over 100 members drawn from 5 regions. Explore the global cricket map to learn more about all of our members and the growth of the game in these countries across the world.</div>
		  <p><a href="/about/members" class="promo__cta btn">View Members</a></p>
	</div>
</div>



<div class="promo promo--full ">
	<div class="promo__image-container">

			<picture class="promo__image"></picture>

        <img src="7.jpg" alt="Our Members" width="1010" height="558"></div>
	<div class="promo__text-container ">
		<h3 class="promo__title">Cricket</h3>
		<div class="promo__text">The ICC will lead the continued drive towards more competitive, entertaining and meaningful cricket for players and fans. Learn more about the history of the game, the three formats of cricket and our Match Officials.</div>
			<p><a href="/about/cricket" class="promo__cta btn">Learn More</a>			  </p>
			<p><span class="promo__image-container"><img src="5.jpg" alt="Cricket" width="1010" height="558"></span></p>
	</div>
</div>
<div class="promo promo--full ">
  <div class="promo__image-container">

			<picture class="promo__image"></picture>

	</div>
	<div class="promo__text-container ">
		<h3 class="promo__title">Events</h3>
		<div class="promo__text">The ICC will promote cricket by delivering exciting and engaging global events around the world. Find out more about the upcoming ICC events and how the event qualification pathways work.</div>
			<p><form action="/action_page.php" method="get">
<button type="submit" formaction="gallery.html">VIEW EVENTS</button>
</form></p>
            <p><span class="promo__image-container"><img src="2.jpg" alt="Events" width="1010" height="558"></span></p>
	</div>
</div>
<div class="promo promo--full ">
  <div class="promo__image-container">

			<picture class="promo__image"></picture>
  </div>
</div>

	</div>
</div>
</main>