<title>ARH Cricket</title>

<div id="bodyContent" class="mw-body-content">
<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr"><div class="mw-parser-output">
  <p></p>
<h2><span class="mw-headline" id="ICC_Members">ICC Members</span></h2>
<table class="wikitable sortable jquery-tablesorter">
<thead><tr>
<th width="168" class="headerSort" title="Sort ascending" role="columnheader button" tabindex="0">Membership</th>
<th width="79" class="headerSort" title="Sort ascending" role="columnheader button" tabindex="0">Africa (22)</th>
<th width="115" class="headerSort" title="Sort ascending" role="columnheader button" tabindex="0">Americas (17)</th>
<th width="91" class="headerSort headerSortUp" title="Sort descending" role="columnheader button" tabindex="0">Asia (21)</th>
<th width="154" class="headerSort" title="Sort ascending" role="columnheader button" tabindex="0">East Asia-Pacific (11)</th>
<th width="99" class="headerSort" title="Sort ascending" role="columnheader button" tabindex="0">Europe (34)</th>
</tr></thead><tbody>


<tr style="vertical-align:top;">
<td><b>Full Members (12)</b></td>
<td><span class="flagicon">&nbsp;</span><a href="/wiki/South_Africa_national_cricket_team" title="South Africa national cricket team">South Africa</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Zimbabwe_national_cricket_team" title="Zimbabwe national cricket team">Zimbabwe</a></td>
<td><span class="flagicon">&nbsp;</span><a href="/wiki/West_Indies_cricket_team" title="West Indies cricket team">West Indies</a></td>
<td><span class="flagicon">&nbsp;</span><a href="/wiki/Afghanistan_national_cricket_team" title="Afghanistan national cricket team">Afghanistan</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Bangladesh_national_cricket_team" title="Bangladesh national cricket team">Bangladesh</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/India_national_cricket_team" title="India national cricket team">India</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Pakistan_national_cricket_team" title="Pakistan national cricket team">Pakistan</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Sri_Lanka_national_cricket_team" title="Sri Lanka national cricket team">Sri Lanka</a></td>
<td><span class="flagicon">&nbsp;</span><a href="/wiki/Australia_national_cricket_team" title="Australia national cricket team">Australia</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/New_Zealand_national_cricket_team" title="New Zealand national cricket team">New Zealand</a></td>
<td><span class="flagicon">&nbsp;</span><a href="/wiki/England_cricket_team" title="England cricket team">England</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Ireland_cricket_team" title="Ireland cricket team">Ireland</a></td>
</tr><tr style="vertical-align:top;">
<td><b>Associate Members (93)</b></td>
<td><span class="flagicon">&nbsp;</span><a href="/wiki/Botswana_national_cricket_team" title="Botswana national cricket team">Botswana</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Cameroon_national_cricket_team" title="Cameroon national cricket team">Cameroon</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Gambia_national_cricket_team" title="Gambia national cricket team">Gambia</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Ghana_national_cricket_team" title="Ghana national cricket team">Ghana</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Kenya_national_cricket_team" title="Kenya national cricket team">Kenya</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Lesotho_national_cricket_team" title="Lesotho national cricket team">Lesotho</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Malawi_national_cricket_team" title="Malawi national cricket team">Malawi</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Mali_national_cricket_team" title="Mali national cricket team">Mali</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Morocco_national_cricket_team" title="Morocco national cricket team">Morocco</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Mozambique_national_cricket_team" title="Mozambique national cricket team">Mozambique</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Namibia_national_cricket_team" title="Namibia national cricket team">Namibia</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Nigeria_national_cricket_team" title="Nigeria national cricket team">Nigeria</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Rwanda_national_cricket_team" title="Rwanda national cricket team">Rwanda</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Seychelles_national_cricket_team" title="Seychelles national cricket team">Seychelles</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Sierra_Leone_national_cricket_team" title="Sierra Leone national cricket team">Sierra Leone</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Saint_Helena_national_cricket_team" title="Saint Helena national cricket team">Saint Helena</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Swaziland_national_cricket_team" title="Swaziland national cricket team">Swaziland</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Tanzania_national_cricket_team" title="Tanzania national cricket team">Tanzania</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Uganda_national_cricket_team" title="Uganda national cricket team">Uganda</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Zambia_national_cricket_team" title="Zambia national cricket team">Zambia</a></td>
<td><span class="flagicon">&nbsp;</span><a href="/wiki/Argentina_national_cricket_team" title="Argentina national cricket team">Argentina</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Bahamas_national_cricket_team" title="Bahamas national cricket team">Bahamas</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Belize_national_cricket_team" title="Belize national cricket team">Belize</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Bermuda_national_cricket_team" title="Bermuda national cricket team">Bermuda</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Brazil_national_cricket_team" title="Brazil national cricket team">Brazil</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Canada_national_cricket_team" title="Canada national cricket team">Canada</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Cayman_Islands_national_cricket_team" title="Cayman Islands national cricket team">Cayman Islands</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Chile_national_cricket_team" title="Chile national cricket team">Chile</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Costa_Rica_national_cricket_team" title="Costa Rica national cricket team">Costa Rica</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Falkland_Islands_cricket_team" class="mw-redirect" title="Falkland Islands cricket team">Falkland Islands</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Mexico_national_cricket_team" title="Mexico national cricket team">Mexico</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Panama_national_cricket_team" title="Panama national cricket team">Panama</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Peru_national_cricket_team" title="Peru national cricket team">Peru</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Suriname_national_cricket_team" title="Suriname national cricket team">Suriname</a><br>
<span class="flagicon">&nbsp;</span><span class="flagicon">&nbsp;</span><a href="/wiki/United_States_national_cricket_team" title="United States national cricket team">United States</a></td>
<td><span class="flagicon">&nbsp;</span><a href="/wiki/Bahrain_national_cricket_team" title="Bahrain national cricket team">Bahrain</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Bhutan_national_cricket_team" title="Bhutan national cricket team">Bhutan</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/China_national_cricket_team" title="China national cricket team">China</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Hong_Kong_national_cricket_team" title="Hong Kong national cricket team">Hong Kong</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Iran_national_cricket_team" title="Iran national cricket team">Iran</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Kuwait_national_cricket_team" title="Kuwait national cricket team">Kuwait</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Malaysia_national_cricket_team" title="Malaysia national cricket team">Malaysia</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Maldives_national_cricket_team" title="Maldives national cricket team">Maldives</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Myanmar_national_cricket_team" title="Myanmar national cricket team">Myanmar</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Nepal_national_cricket_team" title="Nepal national cricket team">Nepal</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Oman_national_cricket_team" title="Oman national cricket team">Oman</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Qatar_national_cricket_team" title="Qatar national cricket team">Qatar</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Saudi_Arabia_national_cricket_team" title="Saudi Arabia national cricket team">Saudi Arabia</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Singapore_national_cricket_team" title="Singapore national cricket team">Singapore</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Thailand_national_cricket_team" title="Thailand national cricket team">Thailand</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/United_Arab_Emirates_national_cricket_team" title="United Arab Emirates national cricket team">UAE</a></td>
<td><span class="flagicon">&nbsp;</span><a href="/wiki/Cook_Islands_national_cricket_team" title="Cook Islands national cricket team">Cook Islands</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Fiji_national_cricket_team" title="Fiji national cricket team">Fiji</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Indonesia_national_cricket_team" title="Indonesia national cricket team">Indonesia</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Japan_national_cricket_team" title="Japan national cricket team">Japan</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Papua_New_Guinea_national_cricket_team" title="Papua New Guinea national cricket team">Papua New Guinea</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Philippines_national_cricket_team" title="Philippines national cricket team">Philippines</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Samoa_national_cricket_team" title="Samoa national cricket team">Samoa</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/South_Korea_national_cricket_team" title="South Korea national cricket team">South Korea</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Vanuatu_national_cricket_team" title="Vanuatu national cricket team">Vanuatu</a></td>
<td><span class="flagicon">&nbsp;</span><a href="/wiki/Austria_national_cricket_team" title="Austria national cricket team">Austria</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Belgium_national_cricket_team" title="Belgium national cricket team">Belgium</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Bulgaria_national_cricket_team" title="Bulgaria national cricket team">Bulgaria</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Croatia_national_cricket_team" title="Croatia national cricket team">Croatia</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Cyprus_national_cricket_team" title="Cyprus national cricket team">Cyprus</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Czech_Republic_national_cricket_team" title="Czech Republic national cricket team">Czech Republic</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Denmark_national_cricket_team" title="Denmark national cricket team">Denmark</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Estonia_national_cricket_team" title="Estonia national cricket team">Estonia</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Finland_national_cricket_team" title="Finland national cricket team">Finland</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/France_national_cricket_team" title="France national cricket team">France</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Germany_national_cricket_team" title="Germany national cricket team">Germany</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Gibraltar_national_cricket_team" title="Gibraltar national cricket team">Gibraltar</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Greece_national_cricket_team" title="Greece national cricket team">Greece</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Guernsey_cricket_team" title="Guernsey cricket team">Guernsey</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Hungary_national_cricket_team" title="Hungary national cricket team">Hungary</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Isle_of_Man_cricket_team" title="Isle of Man cricket team">Isle of Man</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Israel_national_cricket_team" title="Israel national cricket team">Israel</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Italy_national_cricket_team" title="Italy national cricket team">Italy</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Jersey_cricket_team" title="Jersey cricket team">Jersey</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Luxembourg_national_cricket_team" title="Luxembourg national cricket team">Luxembourg</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Malta_national_cricket_team" title="Malta national cricket team">Malta</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Netherlands_national_cricket_team" title="Netherlands national cricket team">Netherlands</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Norway_national_cricket_team" title="Norway national cricket team">Norway</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Portugal_national_cricket_team" title="Portugal national cricket team">Portugal</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Romania_national_cricket_team" title="Romania national cricket team">Romania</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Russia_national_cricket_team" title="Russia national cricket team">Russia</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Scotland_national_cricket_team" title="Scotland national cricket team">Scotland</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Serbia_national_cricket_team" title="Serbia national cricket team">Serbia</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Slovenia_national_cricket_team" title="Slovenia national cricket team">Slovenia</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Spain_national_cricket_team" title="Spain national cricket team">Spain</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Sweden_national_cricket_team" title="Sweden national cricket team">Sweden</a><br>
<span class="flagicon">&nbsp;</span><a href="/wiki/Turkey_national_cricket_team" title="Turkey national cricket team">Turkey</a></td>
</tr></tbody><tfoot></tfoot></table>
<h2>&nbsp;</h2>
</div>
</div>
							</div>