{% load staticfiles %}
<link href = "{% static 'css/style.css' %}" rel = "stylesheet" type="text/css"/>
<title>ARH Cricket</title>

<div class="topnav">
  <a href="/"><img src="static/img/logo.jpg"/></a>
  <a href="/fixtures">Fixtures</a>
  <a class="active" href="/ranking">Ranking</a>
  <a href="/contact">Contact</a>
  <a href="/historyoficc">History of ICC</a>
</div>

<div class="article__content">
		<h1>Player and Team Rankings explained</h1>
		<h2>Player Rankings<u></u><u></u></h2>
		<p>The MRF Tyres ICC Player Rankings is a table where international cricket players performances are ranked using a points based system which is worked out by doing a series of calculations leading to a sophisticated moving average. Players are rated on a scale of 0 to 1000 points. If a player’s performance is improving on his past record, his points increase; if his performance is declining his points will go down. The value of each player’s performance within a match is calculated using an algorithm, a series of calculations (all pre-programmed) based on various circumstances in the match. There is no human intervention in this calculation process, and no subjective assessment is made. There are slightly different factors for each of the different formats of the game.<u></u><u></u></p>
<p>&nbsp;<u></u>

<form action="/action_page.php" method="get">
<button type="submit" formaction="/batsman">BATSMAN</button>
</form>
<form action="/action_page.php" method="get">
<button type="submit" formaction="/bowler">BOWLER</button>
</form>
<form action="/action_page.php" method="get">
<button type="submit" formaction="/allrounder">ALL-ROUNDER</button>
</form>

</p>
<h2>Team Rankings&nbsp;</h2>
<h3><em>Men's Rankings</em></h3>
<p>The MRF Tyres ICC Team Rankings is a rating method&nbsp;<em>developed by David Kendix</em>&nbsp;to rank men’s teams playing across Test, One-Day International and Twenty20 International formats and women’s teams playing One-Day International and Twenty20 International cricket. This rating is worked out&nbsp;by dividing the points scored by the match/series total, with the answer given to the nearest whole number. It can be compared with a batting average, but with points instead of total runs scored and a match/series total instead of number of times dismissed.<u></u><form action="/action_page.php" method="get">
</p>
<button type="submit" formaction="/team">TEAM</button> 
</p>
<h3><em>Women’s Team Rankings</em></h3>
<p>The MRF Tyres ICC Team Rankings for women are similar to the men’s rankings described above, with points calculated in the same way with the same weightings.<u></u><u></u></p>
<p>The main differences are as follows;<br>• A single model combines results from Tests, ODIs and T20Is. All matches in each form of the game are treated equally for rating purposes.<br>• Ten teams are rated, comprising the ten men’s Test teams, plus Ireland but excluding Zimbabwe<br>• The annual update takes place on 1 October each year.
	</div>
</p>
