{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ARH Cricket</title>

<link href = "{% static 'css/t20rankings.css' %}" rel = "stylesheet" type="text/css"/>
</head>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
.timesnewroman {
	font-family: Georgia, Times New Roman, Times, serif;
}
</style>
</head>

<body>
<h1>TEAM RANKINGS</h1>
<h2>T20 RANKINGS</h2>
<div class="b">
<table width="1010" height="537" border="1">
	
  <tr>
    <td width="112"><h3><strong><font color="white">RANK</font></strong></h3></td>
    <td width="177"><h3><strong><font color="white">TEAM</font></strong></h3></td>
    <td width="173"><h3><strong><font color="white">RATINGS</font></strong></h3></td>
  </tr>
  <tr>
    <td><strong><font color="white">1</font></strong></td>
    <td><strong><font color="white">Pakistan</font></strong></td>
    <td><strong><font color="white">130</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">2</font></strong></td>
    <td><strong><font color="white">Australia</font></strong></td>
    <td><strong><font color="white">126</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">3</font></strong></td>
    <td><strong><font color="white">India</font></strong></td>
    <td><strong><font color="white">124</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">4</font></strong></td>
    <td><strong><font color="white">New Zealand</font></strong></td>
    <td><strong><font color="white">116</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">5</font></strong></td>
    <td><strong><font color="white">England</font></strong></td>
    <td><strong><font color="white">114</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">6</font></strong></td>
    <td><strong><font color="white">South Africa</font></strong></td>
    <td><strong><font color="white">111</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">7</font></strong></td>
    <td><strong><font color="white">West Indies</font></strong></td>
    <td><strong><font color="white">111</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">8</font></strong></td>
    <td><strong><font color="white">Srilanka</font></strong></td>
    <td><strong><font color="white">89</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">9</font></strong></td>
    <td><strong><font color="white">Afghanistan</font></strong></td>
    <td><strong><font color="white">88</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">10</font></strong></td>
    <td><strong><font color="white">Bangladesh</font></strong></td>
    <td><strong><font color="white">77</font></strong></td>
  </tr>

</table>
</div>

<h2></h2>
<h2>ODI RANKINGS</h2>
<div class="c">
<table width="1010" height="537" border="1">

  <tr>
    <td><h3><strong><font color="white">RANK</font></strong></h3></td>
    <td><h3><strong><font color="white">TEAM</font></strong></h3></td>
    <td><h3><strong><font color="white">RATINGS</font></strong></h3></td>
  </tr>
  <tr>
    <td><strong><font color="white">1</font></strong></td>
    <td><strong><font color="white">Pakistan</font></strong></td>
    <td><strong><font color="white">122</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">2</font></strong></td>
    <td><strong><font color="white">South Africa</font></strong></td>
    <td><strong><font color="white">117</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">3</font></strong></td>
    <td><strong><font color="white">England</font></strong></td>
    <td><strong><font color="white">117</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">4</font></strong></td>
    <td><strong><font color="white">New Zealand</font></strong></td>
    <td><strong><font color="white">114</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">5</font></strong></td>
    <td><strong><font color="white">Australia</font></strong></td>
    <td><strong><font color="white">112</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">6</font></strong></td>
    <td><strong><font color="white">India</font></strong></td>
    <td><strong><font color="white">96</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">7</font></strong></td>
    <td><strong><font color="white">Bangladesh</font></strong></td>
    <td><strong><font color="white">90</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">8</font></strong></td>
    <td><strong><font color="white">Srilanka</font></strong></td>
    <td><strong><font color="white">84</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">9</font></strong></td>
    <td><strong><font color="white">West Indies</font></strong></td>
    <td><strong><font color="white">74</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">10</font></strong></td>
    <td><strong><font color="white">Afghanistan</font></strong></td>
    <td><strong><font color="white">58</font></strong></td>
  </tr>

</table>
</div>
<h2></h2>
<h2> TEST RANKINGS</h2>
<div class="d">
<table width="1010" height="537" border="1">

  <tr>
    <td><h3><strong><font color="white">RANK</font></strong></h3></td>
    <td><h3><strong><font color="white">TEAM</font></strong></h3></td>
    <td><h3><strong><font color="white">RATINGS</font></strong></h3></td>
  </tr>
  <tr>
    <td><strong><font color="white">1</font></strong></td>
    <td><strong><font color="white">Pakistan</font></strong></td>
    <td><strong><font color="white">121</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">2</font></strong></td>
    <td><strong><font color="white">South Africa</font></strong></td>
    <td><strong><font color="white">117</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">3</font></strong></td>
    <td><strong><font color="white">New Zealand</font></strong></td>
    <td><strong><font color="white">102</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">4</font></strong></td>
    <td><strong><font color="white">Australia</font></strong></td>
    <td><strong><font color="white">102</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">5</font></strong></td>
    <td><strong><font color="white">England</font></strong></td>
    <td><strong><font color="white">97</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">6</font></strong></td>
    <td><strong><font color="white">Srilanka</font></strong></td>
    <td><strong><font color="white">95</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">7</font></strong></td>
    <td><strong><font color="white">India</font></strong></td>
    <td><strong><font color="white">88</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">8</font></strong></td>
    <td><strong><font color="white">West Indies</font></strong></td>
    <td><strong><font color="white">72</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">9</font></strong></td>
    <td><strong><font color="white">Bangladesh</font></strong></td>
    <td><strong><font color="white">71</font></strong></td>
  </tr>
  <tr>
    <td><strong><font color="white">10</font></strong></td>
    <td><strong><font color="white">Zimbabwe</font></strong></td>
    <td><strong><font color="white">1</font></strong></td>
  </tr>
  </table>
</div>

</body>
</html>
