<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ARH Cricket</title>

</head>

<body>
<div class="wrapper">
	<div class="col-12">
		


<article class="article article--basic ">
    <header class="article__header">
        <h3 class="article__title">Our Vision</h3>
        
    </header>
    <div class="article__summary"></div>
    <picture class="article__lead-image">

        <img src="static/img/8.jpg" alt="Our Vision" width="1240" height="742">

    </picture>
	<div class="article__content">
		<p>	The ICC has a long term ambition to become the world’s favourite sport and our four year strategy that will take us through to 2019 is the first step on that journey. During this period we will <strong>lead</strong> the continued drive towards more competitive, entertaining and meaningful cricket for players and fans. We will <strong>grow</strong> the sport by creating more opportunities for more people and nations to enjoy it and increase the competitiveness of international cricket at all levels. We will <strong>promote</strong> cricket by delivering exciting and engaging global events, attracting new and diverse fans and building long-term successful commercial partnerships. And finally, we will continue to make considerable efforts to <strong>protect</strong> the integrity of the sport.</p>
	</div>
</article>

	</div>
</div>
</body>
</html>
